<form action="/TrackSessionConfiguration/update/<%= TrackSessionConfiguration.id %>" method="POST" class="edit">
    <div class="form-group">
        <h2><%= __('editing a TrackSessionConfiguration') %></h2>

        <div class="form-group" style="width: 400px;">
            <label><%= __('Board Track Session Id') %></label>
            <input value="<%= TrackSessionConfiguration.BoardTrackSessionId %>" name="BoardTrackSessionId" type="text"
                   class="form-control"/>
        </div>

        <div class="form-group" style="width: 400px;">
            <label><%= __('Board Location') %></label>
            <input value="<%= TrackSessionConfiguration.BoardLocation %>" name="BoardLocation" type="text"
                   class="form-control"/>
        </div>
    </div>
    <input type="submit" value="<%= __('Update') %>" class="btn btn-default"/>
    <a href="/TrackSessionConfiguration/show/<%= TrackSessionConfiguration.id %>"
       class="btn btn-danger"><%= __('Cancel') %></a>
</form>
	
	