<form action="/InformationType/update/<%= InformationType.id %>" method="POST" class="edit">
    <div class="form-group">
        <h2><%= __('editing a InformationType') %></h2>

        <div class="form-group" style="width: 400px;">
            <label><%= __('Name') %></label>
            <input value="<%= InformationType.Name %>" name="Name" type="text" class="form-control"/>
        </div>

        <div class="form-group" style="width: 400px;">
            <label><%= __('Description') %></label>
            <input value="<%= InformationType.Description %>" name="Description" type="text" class="form-control"/>
        </div>
    </div>
    <input type="submit" value="<%= __('Update') %>" class="btn btn-default"/>
    <a href="/InformationType/show/<%= InformationType.id %>" class="btn btn-danger"><%= __('Cancel') %></a>
</form>
	
	