<div class="container">
  <h3><%= __('SportType Listing') %></h3>
  <table class='table table-hover table-condensed'>
    <tr>

      <th><%= __('Name') %></th>

      <th><%= __('Description') %></th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% _.forEach(SportTypes, function(SportType) { %>
    <tr data-id="<%= SportType.id %>" data-model="SportType">

      <td><%= SportType.Name %></td>

      <td><%= SportType.Description %></td>

      <td><a href="/SportType/show/<%= SportType.id %>" class="btn btn-primary btn-sm" role="button"><%= __('Show') %></a></td>
      <td><a href="/SportType/edit/<%= SportType.id %>" class="btn btn-primary btn-sm" role="button"><%= __('Edit') %></a></td>

      <td>
        <form action="/SportType/destroy/<%= SportType.id %>" method="POST">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" value="<%= __('Delete') %>" class="btn btn-danger btn-sm" role="button"/>
        </form>
      </td>
    </tr>
    <% }) %>
  </table>
  <div class="text-center">
    <nav>
      <% if (pageCount > 1) { %>
      <ul class="pagination">
        <% if (currentPage > 1) { %>
        <li>
          <a href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% } %>
        <% var i = 1;
          if (currentPage > 4) {
            i = +currentPage - 3;
          } %>
        <% if (i !== 1) { %>
        <li class="disabled"><a href="#">...</a></li>
        <% } %>
        <% for (i; i <= pageCount; i++) { %>
        <% if (currentPage == i) { %>
        <li class="active"><span><%= i %></span></li>
        <% } else { %>
        <li><a href="?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == (+currentPage + 3)) { %>
        <li class="disabled"><a href="#">...</a></li>
        <% break; } %>
        <% } %>
        <% if (currentPage != pageCount) { %>
        <li>
          <a href="?page=<%= pageCount %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <% } %>
      </ul>
      <% } %>
    </nav>
  </div>
  <a href="/SportType/new/" class="btn btn-success btn-sm" role="button"><%= __('New') %></a> |
  <a href="/"><%= __('all scaffolds') %></a>
</div>
