<form action="/SportType/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2><%= __('Create a SportType') %></h2>
	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="<%= __('Name') %>" name="Name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="<%= __('Description') %>" name="Description">
	</div>
	</div>
	<input type="submit" value="<%= __('Submit') %>" class="btn btn-default"/> |
	<a href="/SportType"><%= __('Back to list') %></a>
</form>