<form class="show">
    <div class="form-group">
        <h2><%= __('a SportType') %></h2>

        <div class="form-group" style="width: 400px;">
            <label><%= __('Name') %></label>
            <input value="<%= SportType.Name %>" name="Name" type="text" class="form-control" disabled/>
        </div>

        <div class="form-group" style="width: 400px;">
            <label><%= __('Description') %></label>
            <input value="<%= SportType.Description %>" name="Description" type="text" class="form-control" disabled/>
        </div>

    </div>
    </div>
    <a href="/SportType/edit/<%= SportType.id %>" class="btn btn-default"><%= __('Edit') %></a> |
    <a href="/SportType"><%= __('Back to list') %></a>
</form>